.App {
  text-align: center;
}



.App-header {
  background-color: #555555;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-logo {
  max-height: 15vh;
}

main {
  background-color: #F4F2EA;
  min-height: 85vh
}